* {
  padding: 0px;
  margin: 0px;
}

button {
  cursor: pointer;
}

ul {
  font-size: 28px;
}

input[type=checkbox] {
  cursor: pointer;
}

ul input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin-bottom: 16px;
}

li {
  list-style-type: none;
  margin-left: 20px;
  font-size: 20px;
}

li input[type=checkbox] {
  width: 16px;
  height: 16px;
}

body {
  width: 100vw;
  height: 100vh;
}

#content {
  width: 100%;
  height: min(100%);
  background-color: rgb(8, 143, 143);
  align-items: center;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

#center-page {
  width: max(60%, 750px);
  height: 2000px;
  background-color: white;
  margin-top: 60px;
  margin-bottom: 24px;
  flex: 1;
  border-radius: 24px;
  padding-left: 30px;
  padding-right: 30px;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
}

#footer {
  width: 100%;
  height: 60px;
  background-color: rgb(255, 102, 0);
}

#page-header {
  grid-row-start: 1;
  grid-row-end: 1;
  margin-top: 30px;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: 1fr;
}

#header-text {
  font-size: 48px;
  display: inline;
  grid-column-start: 4;
  grid-column-end: 8;
  text-align: center;
}

#new-project-button {
  grid-column-start: 8;
  grid-column-end: 11;
  font-size: 18px;
  height: 40px;
  width: 170px;
  align-self: center;
  font-weight: bold;
  margin-left: 20px;
  border-radius: 8px;
  border: none;
  background-color:rgb(255, 102, 0);
  color: white;
}

#page-body {
  grid-row-start: 2;
  grid-row-end: 2;
  margin-top: 20px;
}

.grid-display {
  display: grid;
}

.font-andale {
  font-family: "Andale Mono", monospace;
}

.project {
  margin-bottom: 20px;
}

.popup-background {
  width: 100%;
  height: 100%;
  background-color: rgba(143, 142, 142, 0.50);
  position: absolute;
}