* {
  padding: 0px;
  margin: 0px;
}

button {
  cursor: pointer;
}

label {
  margin-left: 10px;
}

ul {
  font-size: 28px;
}

input[type=checkbox], input[type=date] {
  cursor: pointer;
}

input[type=date], input[type=text] {
  font-size: 16px;
  padding-left: 4px;
}

ul input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin-bottom: 16px;
}

li {
  margin-left: 20px;
  font-size: 20px;
  margin-top: 6px;
}

ul.project > li,
ul.flex-column > li.project-form-item,
li {
  list-style-type: none;
}

li input[type=checkbox] {
  width: 16px;
  height: 16px;
}

body {
  width: 100vw;
  height: 100vh;
}

#content {
  width: 100%;
  height: 100%;
  background-color: rgb(8, 143, 143);
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

#center-page {
  width: clamp(650px, 750px, 75%);
  background-color: white;
  margin-top: 60px;
  margin-bottom: 24px;
  margin-left: 24px;
  margin-right: 24px;
  /* flex: 1; */
  border-radius: 24px;
  padding-left: 30px;
  padding-right: 30px;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
}

#footer {
  width: 100%;
  height: 60px;
  background-color: rgb(255, 102, 0);
}

#page-header {
  grid-row-start: 1;
  grid-row-end: 1;
  margin-top: 30px;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-rows: auto;
}

#header-text {
  font-size: 48px;
  display: inline;
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 1;
  text-align: center;
}

#new-project-button, button.popup-form-button {
  font-size: 16px;
  padding: 8px;
  height: auto;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  background-color:rgb(255, 102, 0);
  color: white;
}

button.popup-form-button {
  width: 125px;
  margin-left: 20px;
  margin-top: 16px;
}

#new-project-button {
  max-width: 150px;
  grid-column-start: 8;
  grid-column-end: 11;
  grid-row-start: 1;
  grid-row-end: 1;
  margin-left: 60px;
  align-self: center;
}

#page-body {
  grid-row-start: 2;
  grid-row-end: 2;
  margin-top: 20px;
  margin-bottom: 20px;
}

.grid-display {
  display: grid;
}

.font-andale {
  font-family: "Andale Mono", monospace;
}

.project {
  margin-bottom: 20px;
  width: 66%;
}

.project-task {
  margin-top: 0px;
}

#popup-wrapper {
  width: 150%;
  height: 100%; /* set height using javascript */
  position: absolute;
  top: 0px;
  background: rgba(126, 126, 126, 0.6);
  align-items: center;
}

#popup {
  width: 600px;
  height: 800px;
  border-radius: 12px;
  background: white;
  box-shadow: -5px 5px 10px rgba(92, 92, 92, 0.50);
  justify-content: center;
  margin-top: 80px;
}

#popup-form {
  height: 100%;
  margin: 12px;
  overflow: auto;
  grid-template-columns: 1fr;
  grid-template-rows: 60px auto 1fr 60px;
}

#popup-header {
  justify-content: center;
  align-items: center;
  font-size: 30px;
  grid-row-start: 1;
  grid-row-end: 1;
}

#popup-form > ul {
  margin-top: 24px;
  grid-row-start: 2;
  grid-row-end: 2;
}

ul > li.project-form-item {
  margin-bottom: 16px;
}

ul > li > label.project-field-label {
  margin-left: 0px;
}

#project-title-label, 
#project-description-label,
#project-due-date-label {
  margin-left: 0px;
  display: block;
  font-family: "Andale Mono", monospace;
}

#project-description-input {
  padding-left: 4px;
  padding-right: 4px;
  font-family: "Andale Mono", monospace;
  resize: none;
}

#tasks-wrapper {
  overflow: auto;
  padding-left: 20px;
}

#tasks-list {
  display: inline;
}

ol > li {
  list-style-type: decimal;
  display: inline;
}

#popup-footer {
  grid-row-start: 4;
  grid-row-end: 4;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}

.project-list-wrapper {
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  justify-content: space-between;
  border-bottom: 1px solid rgb(199, 199, 199);
  padding-top: 8px;
}

#project-1 {
  border-bottom: 1px solid rgb(199, 199, 199);
  border-top: 1px solid rgb(199, 199, 199);
}

#last-project {
  border-bottom: none;
}

.project-due-date {
  margin-left: 12px;
  font-size: 16px;
  width: 33%;
  text-align: center;
}
.project-list-description {
  color: rgb(139, 139, 139);
  font-size: 14px;
}